.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
}

button {
    padding: 0.7rem;
    background-color: blueviolet;
    border-radius: 5px;
    color:white;
    border: transparent;
    font-weight: bold;
}